:root {
    --general-text: #312c27;
    --accent-text: #1f1711;
    --general-bg: #fff9f4;
    --accent-bg: #ffe0cb;
    --accent-color: #ffa55c;
}

body {
    font-family: "Montserrat", Arial, sans-serif;
    line-height: 1.5;
    color: var(--general-text);
    background: var(--general-bg);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6;
    font-size: 16px;
    font-weight: 500;
    background: var(--accent-color);
    height: 62px;
    border-radius: 60px;
    padding: 3px 15px;

    transition: all .5s;
}

.hero__button:hover {
    background: #ff9138;
}

/* ============================================================== */

.header {
    background: url("../img/decor/bg-header.png") 50% 100% / cover no-repeat;
}

.header__top {
    padding-top: 19px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__logo {
    width: 174px;
}

.nav__list {
    display: flex;
    gap: 40px;
}

.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -14px;
    width: 34px;
    height: 34px;
    background: var(--accent-color);
    z-index: -1;
    border-radius: 50%;
    opacity: 0;
    transition: all .4s;
}

.nav__link:hover::before {
    opacity: 1;
}


.hero {
    padding: 50px 0 140px;
}

.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.hero__content {
    max-width: 520px;
}

.hero__info {
    line-height: 1.6;
    text-transform: uppercase;
    color: #b197b2;
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 20px;
}

.hero__info span {
    display: flex;
    align-items: center;
}

.hero__info span::after {
    content: '';
    background: #b197b2;
    border-radius: 100%;
    width: 4px;
    height: 4px;
    margin: 0 10px;
    display: block;
}

.hero__info span:last-child::after {
    content: none;
}


.hero__title {
    font-family: 'Gabriola';
    font-size: 74px;
    color: var(--accent-text);
    line-height: 0.82;
    margin-bottom: 30px;
}

.hero__text {
    max-width: 358px;
    color: var(--general-text);
    margin-bottom: 40px;
}

.hero__button {
    max-width: 360px;
}

.hero__img {}

.hero__img-control {}

.hero__control {}