.p1 {
    font-family: "Open Sans", Arial, sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    }

.p2 {
    text-decoration: line-through;
    }

.p3 {
        font-size: 20px;
        text-align: center;
    }

.p4 {
    word-spacing: 30px;
    text-shadow: 2px 2px 1.9px #972b8eb2;
}

.p5 {
    letter-spacing: 5px;
    text-decoration: double underline;
}

