.block {
    width: 200px;
    height: 200px;
    background: #333;
}


div.block, .block2 {
    width: 200px;
    height: 200px;
    background: #faec2f;
}

.block, block2 {
    width: 200px;
    height: 200px;
    background: #0f9b45;
}