body {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    line-height: 125%;
    color: #25282B;
    background: #f8fcff;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

/* ================================================== */

.header {
    line-height: 1.5;
}

.header__inner {
    min-height: 108px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 15px;
    align-content: center;
    align-items: center;
}

.header__logo {
    max-width: 54px;
}

.header__socials {
    justify-content: end;
}

.nav__list {
    display: flex;
    gap: 10px 30px;
    text-wrap: wrap;
}

.socials {
    display: flex;
    gap: 10px 30px;
    flex-wrap: wrap;
}

/* ================================================ */

.hero {
    background-color: #25282B;
    padding: 120px 0;
    color: #f8fcff;
    line-height: 1.5;
}

.hero__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__title {
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 30px;
}

.hero__list {
    font-size: 24px;
    margin-bottom: 40px;
}


.hero__list-item {
    display: flex;
    gap: 18px;
    margin-bottom: 15px;
}


.hero__list-item:last-child {
    margin-bottom: 0px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #1D6FB6;

    width: 100%;
    max-width: 288px;
    border-radius: 100px;
    height: 56px;
    background: #d0dce7;
}